<h3>CascadingCHildComponent</h3>

<p>@Name</p>
<p>@Id</p>
<GrandCHILDComponent></GrandCHILDComponent>
@code {
    [CascadingParameter(Name ="Name")]
    public String? Name{ get; set; }
    [CascadingParameter(Name ="Id")]
    public int? Id{ get; set; }


}
