@page "/pc"
<div>
    <h3>ParentComponent</h3>
    <ChildComponent Title="i am passing some title from parent to child"></ChildComponent>
    <a href="/RP/somtitle/34">route paramter component with paramters</a>
    <a hreg="/RP">without paramter routing</a>
</div>
@code {

}
